u {
    color: blue;
}
.maxWidth100 {
    max-width: 100%;
}
.maxHeight100 {
    height: 50vh;
}
.natureBackground {
    background-image: url('/assets/navbar-background.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.homeBackCover{
    font-size: large;
    color: white;
    text-align: center;
    height: 100%;
    display: flex;
    place-content: center;
    align-items: center;
}
.video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
  }
  
  .video-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }